<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultLegacyHost"  value="legacy.havenandhearth.com" />
    <add key="DefaultLegacyGamePort"  value="1870" />
    <add key="DefaultLegacyAuthPort"  value="1871" />
    <add key="DefaultHafenHost"  value="game.havenandhearth.com" />
    <add key="DefaultHafenGamePort"  value="1870" />
    <add key="DefaultHafenAuthPort"  value="1871" />
  </appSettings>
</configuration>